<h1>Welcome to Encounters</h1>

<h2>Have you seen something</h2>
<h2>Big fan of the known, Unknown</h2>
<h2>Care to Share Your Story </h2>
<h2>Maybe share your favorite your favorite cryptid media</h2>
